.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.root .signatureContainer {
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.signature {
  top: 0;
  left: 0;
  padding: 1rem 0.25rem;
  text-align: center;
  background: white;
  border: 1px solid lightgray;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.root .contractContainer {
  flex-basis: 60%;
}

.dropzone {
  width: 200px;
  height: 20px;
  background: lightskyblue;
  margin-bottom: 10px;
  padding: 10px;
}